input,
textarea,
button {
  outline: none;

  appearance: none;
  padding: .5rem;
}

button {
  color: $text-light;
  background-color: $accent-colour;

  border: none;
  border-radius: $bradius;
  outline: none;

  cursor: pointer;
  transition: transform .250s ease-out;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.05);
  }
}

input {
  border: solid 1px $accent-colour;
  border-radius: $bradius;
}
