input,
textarea,
button {
  padding: .5rem;

  outline: none;

  appearance: none;
}

button {
  color: $text-light;
  background-color: $accent-colour;

  font-size: .9rem;
  font-weight: bold;

  border: none;
  border-radius: $bradius;
  outline: none;

  cursor: pointer;
  transition: transform .250s ease-out;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.02);
  }
}

input {
  width: 100%;

  border: solid 1px $primary-colour;
  border-radius: $bradius;
}
