@import 'variables';

// TYPOGRAPHY

.mono {
  font-family: $mono;
}

.dark-header {
  color: $primary-colour;
}

.light-header {
  color: $text-light;
}

.dark-body {
  color: $text-dark;
}

.light-body {
  color: $text-light;
}

.text-primary {
  color: $primary-colour;
}

.text-secondary {
  color: $secondary-colour;
}

.text-accent {
  color: $accent-colour;
}

.text-light {
  color: $white;
}

.text-dark {
  color: $darkgray;
}

.text-lightgray {
  color: $lightgray;
}

.text-darkgray {
  color: $darkgray;
}

.hover-main {
  transition: $s-animation;
  &:hover {
    color: $primary-colour;
  }
}

.hover-secondary {
  transition: $s-animation;
  &:hover {
    color: $secondary-colour;
  }
}

.hover-accent {
  transition: $s-animation;
  &:hover {
    color: $accent-colour;
  }
}

.su {
  text-decoration: none;

  @include smart-underline($background-colour, $text-dark, $selection);
}

.su-colour {
  text-decoration: none;

  @include smart-underline($background-colour, $primary-colour, $selection);
}

.st {
  text-decoration: line-through;
  color: $primary-colour;

  > * {
    color: $text-dark;
  }
}

.disabled {
  cursor: text;

  opacity: .5;
}

// WHITE SPACE

.preserve-whitespace {
  white-space: pre;
}

.gutter-small {
  @include break(xsmall) {
    max-width: 100%;
    padding-right: $side-padding-small;
    padding-left: $side-padding-small;
  }
}

.vh {
  height: 100vh;
  max-height: 100vh;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
}

.cont {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.img-center {
  display: block;

  margin: auto;
}

.mw100 {
  width: 100%;
  max-width: 100%;
}

.fit {
  max-width: 100%;
  max-height: 100%;
}

.fill {
  height: 100%;
}

.full {
  min-height: 100vh;
  margin: 0;
}

.bcenter {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

.icon {
  margin-top: -10px;

  color: $text-dark;
}

.radius {
  border-radius: $bradius;
}

.vertical-wrapper {
  margin: auto;
}

.vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.vertical-center-not-small {
  @include break(not-small) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  }
}

.overhidden {
  overflow: hidden;
}

.xscroll {
  overflow-x: scroll;
}

// Cursor

.pointer {
  cursor: pointer;
}

// Background

.bg-main {
  background-color: $primary-colour;
}

.bg-secondary {
  background-color: $secondary-colour;
}

.bg-accent {
  background-color: $accent-colour;
}

.bg-lightgray {
  background-color: $lightgray;
}

.bg-darkgray {
  background-color: $darkgray;
}

// Layout

.flex {
  display: flex;
}

.flex-w {
  display: flex;
  flex-wrap: wrap;
}

.sb {
  justify-content: space-between;
}

.cv {
  align-items: center;
}

.col {
  flex-direction: column;
}

// Misc

@mixin text-underline-color($color) {
  -moz-text-decoration-color: $color; /* Code for Firefox */
  text-decoration-color: $color;
}
