$lightgray: #999999;
$darkgray: #333333;
$white: #ffffff;

$darkblue: #3b28cc;
$lightblue: #3fafff;
$red: #e7040f;
$beige: #fdf6e3;
$purple: #5e2bff;
$green: #1ed760;

$primary-colour: $purple;
$secondary-colour: $green;
$accent-colour: $red;
$background-colour: #f4f4f4;

$text-dark: $darkgray;
$text-light: $white;

$selection: #aba7e8;

$base-font-size: 18px;
$base-line-height: 1.6;

$success-colour: #83cc61;
$error-colour: $red;

$bradius: .2rem;

$side-padding-small: 1.5rem;

$s-animation: 0.250s ease-in-out;
