@import 'queries';
@import 'variables';
@import 'fonts';
// @import 'iconfont';
@import 'mixins';
@import 'utils';

// :)
* {
  box-sizing: border-box;
}

// Text Selection Colour
::selection {
  background: $selection; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $selection; /* Gecko Browsers */
}

html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;

  color: $text-dark;
  background-color: $background-colour;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a,
a:visited,
button {
  cursor: pointer;
  transition: .250s ease-in-out;
  text-decoration: none;

  color: $text-dark;

  @include smart-underline($background-colour, $text-dark, $selection);
  &:hover {
    opacity: .5;
  }
}

a.none {
  text-decoration: none;

  background: none;
  text-shadow: none;
}

ul.none {
  padding-left: 0;

  list-style-type: none;
}
